body {margin:0;}
	
ul {
  list-style-type: none;
  margin: 0;
  padding:  0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: absolute;
  /*top: 100px;*/
  top: initial;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



li{
      display: inline; 
    }

li a {
  float: left;
  color: rgb(0, 0, 0);
  text-align: left;
  padding: 10px 15px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: hsl(0, 0%, 0%);
  color: rgb(255, 255, 255);

}

.active {
  float: left;
  background-color: rgb(242, 255, 55);
}